html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Droid Serif', serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  height: 100%;
  color: #231f20
}
#___gatsby,
#___gatsby>div,
#react-root,
#react-root>div {
  height: 100%
}
h1,
h2,
h3,
p,
ul,
li,
dl,
dd {
  padding: 0;
  margin: 0
}
input[type="search"] {
  width: 100%;
  font-size: 18px;
  box-sizing: border-box
}
li {
  list-style: none
}
img {
  width: inherit;
  max-width: 100%;
  height: auto
}
a>img {
  border: 0
}
h1,
h2,
h3 {
  font-family: 'Anton', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center
}
h1 {
  font-size: 42px
}
h2 {
  font-size: 24px
}
h3 {
  font-size: 18px
}
strong {
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  display: block
}
p {
  margin-bottom: 15px;
  display: inline-block
}
code {
  font-family: 'Droid Serif', serif;
  white-space: normal
}
pre {
  margin: 0 0 14px
}
.clearfix:after {
  content: '';
  display: block;
  clear: both
}
.tl {
  text-align: left
}
.tc {
  text-align: center
}
.tr {
  text-align: right
}
.small-block {
  margin-bottom: 30px
}
header a:link,
header a:visited {
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  transition: border-bottom-color 0.3s ease-out 0
}
header a:link,
header a:visited,
footer .red a:link,
footer .red a:visited {
  color: #ffffff;
  text-decoration: none
}
header a:link,
header a:visited {
  text-transform: uppercase
}
header a:hover,
header a.active {
  border-bottom-color: #fff
}
footer .red a:hover {
  text-decoration: underline
}
header a:active,
footer .red a:active {
  color: #e6e6e6
}
header {
  height: 100px;
  line-height: 100px;
  padding: 0 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
  background: rgba(153, 53, 46, 0.95);
  box-sizing: border-box
}
header .logo {
  float: left;
  display: block;
  padding: 25px 0 !important;
  margin: 0 40px 0 0 !important;
  border: none !important;
  line-height: 0
}
header .logo img {
  height: 50px
}
header img,
header nav,
header ul,
header ul li,
header .collapse {
  display: inline;
  float: left
}
header ul li {
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px
}
header button {
  float: right;
  display: none
}
@media (max-width: 969px) {
  header .desktop-nav {
    display: none
  }
}
.desktop header .mobile-nav {
  display: none
}
.mobile-nav {
  clear: left;
  margin: 0 -40px;
  position: relative
}
.nav-visible .mobile-nav {
  background: rgba(153, 53, 46, 0.95)
}
.mobile-nav .region {
  display: block;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out
}
body:not(.nav-visible) .mobile-nav .region {
  height: 0 !important;
  opacity: 0
}
.mobile-nav ul {
  display: block;
  float: none
}
.mobile-nav ul li {
  display: block;
  border-top: solid 1px #c0433a;
  margin: 0;
  float: none
}
.mobile-nav ul a:hover,
.mobile-nav ul a.active,
.mobile-nav ul a.active:active,
.mobile-nav ul a.active:hover {
  background: #c0433a;
  color: white
}
.mobile-nav ul li a:active,
.mobile-nav ul li a:hover {
  background: #852e28;
  color: white
}
.mobile-nav ul li a:link,
.mobile-nav ul li a:visited,
.mobile-nav ul li a:hover,
.mobile-nav ul li a:active,
.mobile-nav ul li.active a {
  border: none;
  transition: none
}
.mobile-nav ul li a:link,
.mobile-nav ul li a:visited {
  display: block;
  width: 100%;
  padding: 1px 40px;
  line-height: 44px;
  height: 100%
}
.ios .mobile-nav ul li a:link,
.ios .mobile-nav ul li a:visited {
  font-size: 9px;
  line-height: 28px
}
.nav-button {
  position: absolute;
  top: 9px;
  right: 30px;
  padding: 20px;
  height: 42px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 100px;
  cursor: pointer;
  color: white
}
.nav-button {
  display: none
}
@media (max-width: 969px) {
  .nav-button {
    display: block
  }
}
.nav-button p {
  margin: 0 12px 0 0;
  float: left;
  padding: 0;
  line-height: 44px
}
.nav-button .stripes {
  margin: 11px 0;
  float: left;
  display: block;
  width: 24px;
  height: 20px;
  position: relative
}
.nav-button .stripes span {
  background: #ffffff;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  position: absolute;
  opacity: 1
}
.nav-button .stripes span.stripe1 {
  top: 0px
}
.nav-button .stripes span.stripe2 {
  top: 8px
}
.nav-button .stripes span.stripe3 {
  top: 16px
}
.nav-visible .nav-button .stripes span.stripe1 {
  left: 0;
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg)
}
.nav-visible .nav-button .stripes span.stripe2 {
  opacity: 0
}
.nav-visible .nav-button .stripes span.stripe3 {
  left: 0;
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg)
}
.submenu ul {
  display: block;
  text-align: center;
  margin-top: -40px;
  padding: 16px 8px;
  border-bottom: solid 2px #ccc;
  margin-bottom: 24px
}
.submenu li {
  display: inline-block
}
.submenu li a {
  display: block;
  margin: 2px;
  padding: 4px 12px;
  border: solid 2px transparent;
  border-radius: 16px;
  text-decoration: none;
  color: #999;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400
}
.submenu li a:hover {
  color: #000
}
.submenu li a.active {
  border-color: #ccc;
  color: black
}
.main,
.main .container,
.main .container .left {
  height: 100%
}
.frame {
  overflow: hidden
}
.frame .main .container {
  padding-top: 100px;
  box-sizing: border-box
}
.popstate .main .container {
  opacity: 0
}
.ready .main .container {
  opacity: 1;
  transition: opacity 0.15s ease-in 0.15s
}
.left {
  float: right;
  padding-right: 50%;
  width: 50%
}
.left .container {
  padding: 140px 40px 0;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  box-sizing: border-box
}
.page-row {
  display: table-row;
  height: 1px
}
.page-row-expanded {
  height: 100%
}
.right {
  height: 100%;
  position: fixed;
  top: 100px;
  right: 0;
  overflow: hidden;
  width: 50%;
  padding-bottom: 100px;
  z-index: 9;
  box-sizing: border-box
}
.reverse .left {
  float: left;
  padding-right: 0;
  padding-left: 50%
}
.reverse .right {
  right: auto;
  left: 0
}
.show-mobile {
  display: none
}
.hide-mobile {
  display: block
}
.map-canvas {
  display: flex;
  flex-direction: column;
}
.map-canvas,
#map_canvas {
  height: 100%;
  position: relative
}
#map_canvas {
  height: 100%;
  position: relative;
  flex: 1;
}
#map_canvas img {
  max-width: none
}
#map_canvas h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 13px
}
.cols {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  margin: 20px 0 0
}
.cols ul {
  margin-top: -15px;
  margin-bottom: 15px
}
.cols ul li {
  list-style: initial;
  margin-left: 20px;
  padding-left: 0;
  line-height: 24px
}
.image {
  height: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: -1;
}
.front .logo {
  margin: 20px 0 80px;
  max-height: 100px;
  text-align: center
}
footer .red {
  margin: 0 -40px;
  background: #99352e;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px
}
footer .sponsors {
  line-height: 64px;
  margin-top: 40px;
  padding: 10px 0 10px 13px;
  text-align: center
}
footer .sponsors p {
  line-height: 1.8
}
footer .sponsors img {
  display: inline;
  margin-right: 30px
}
footer .ica {
  height: 52px;
  padding-bottom: 1px
}
footer .allum {
  height: 54px
}
footer .partillebo {
  height: 42px;
  padding-bottom: 6px
}
footer .loposko {
  height: 30px;
  padding-bottom: 12px
}
footer .nordea {
  height: 24px;
  padding-bottom: 18px
}
footer .studiointeract {
  height: 35px;
  padding-bottom: 7px
}
footer .nordicwellness {
  height: 43px;
  padding-bottom: 7px
}
footer .aktivitus {
  height: 37px;
  padding-bottom: 10px
}
footer .inner {
  padding: 20px 40px 30px;
  text-align: center
}
footer dl {
  padding-left: 10px;
  max-width: 600px;
  margin: 0 auto
}
footer dd {
  display: inline;
  margin-right: 20px;
  line-height: 2
}
footer .saik img {
  height: 58px;
  display: inline;
  margin-bottom: 5px
}
.countdown {
  text-align: center
}
.countdown-item {
  font-family: 'Anton', sans-serif;
  display: inline-block;
  width: 20%;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin: 10px 5px
}
.countdown-caption {
  text-align: center;
  font-size: 24px;
  display: block;
  text-transform: uppercase
}
.countdown-value {
  display: block;
  text-align: center;
  font-size: 90px;
  height: 100px;
  line-height: 100px
}
.table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin: 5px 0 20px
}
.table th:empty,
.table td:empty {
  display: none
}
.table th {
  font-family: 'Anton', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(#fff194, #ffd33f);
  padding: 5px 15px;
  border-bottom: solid 2px white
}
.table td {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background: #fffabe;
  border-top: solid 2px white;
  padding: 4px 15px
}
table .small {
  width: 10%;
  min-width: 50px
}
table .medium {
  width: 20%;
  min-width: 130px
}
.articles {
  margin: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
}
.articles article {
  flex-basis: 50%;
  padding: 0 10px 20px;
  box-sizing: border-box;
}
.articles article:first-child:last-child {
  flex-basis: 100%;
}
@media screen and (max-width: 970px) {
  .articles article {
    flex-basis: 100%;
  }
}
.articles .article {
  border: solid 3px #f3f3f3;
  border-radius: 8px;
  padding: 20px;
  font-size: 13px;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;
}
.articles .article:hover {
  border-color: #ccc;
  background-color: #fffdea
}
.front .article {
  border-color: #da8b86
}
.front .article:hover {
  border-color: #722722
}
.article h2 {
  font-size: 30px
}
.article h3 {
  margin-bottom: 5px
}
.article img,
.article .img {
  margin-bottom: 18px
}
.article p {
  margin-bottom: 10px
}
.article h2,
.article h3 {
  text-align: left
}
.article.super {
  background: white;
  border-color: #c0433a !important;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box
}
.article.super.action {
  padding: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 3px;
  border-bottom: solid 3px #5e211c
}
.article.super.action h3 {
  margin: 0
}
.article.super.action a:link,
.article.super.action a:visited {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow: 0 -1px 0 #5e211c;
  background: linear-gradient(#c0433a, #99352e);
  padding: 16px 0
}
.article.super a {
  display: block;
  width: 100%;
  color: black;
  text-decoration: none
}
.article.super a:link,
.article.super a:visited {
  color: black
}
.article .map {
  background-position: center center;
  background-size: cover;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 100%;
  margin: -20px
}
.article .map a {
  width: 100%;
  height: 100%
}
.inner .front p {
  font-size: 17px;
  margin: 13px 0
}
article {
  position: relative
}
article .call-to-action {
  position: static;
  z-index: 9;
  width: auto;
  bottom: 0;
  left: 0;
  margin: -78px 10px 20px
}
button[type="submit"],
article .call-to-action a {
  display: block;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 15px 0;
  border-bottom: solid 3px #5e211c;
  background: linear-gradient(#c0433a, #99352e);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  text-shadow: 0 -1px 0 #5e211c;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none
}
button[type="submit"],
article .call-to-action a:active {
  border-bottom: solid 3px #722722;
  background: linear-gradient(#c0433a, #852e28);
}
.yellow .article.super {
  border-color: #ffe748
}
article.yellow .call-to-action a {
  border-bottom: solid 3px #d8a600;
  background: linear-gradient(#fff8c7, #ffcd25);
  color: black;
  font-weight: bold;
  text-shadow: none
}
article.yellow .call-to-action a:active {
  border-bottom: solid 3px #f2ba00;
  background: linear-gradient(#fff8c7, #ffcd25);
}
.article.super h2 {
  font-size: 80px;
  text-align: center
}
.article.super h3 {
  font-size: 24px;
  text-align: center
}
.article a:link,
.article a:visited {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%
}
.lead {
  margin-top: 20px;
  margin-bottom: 10px
}
.map-header {
  padding: 20px 20px 18px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.map-header h3 {
  float: left;
  line-height: 30px;
  margin-right: 20px
}
.map-header .close {
  display: none
}
.map-header input {
  left: -9999px;
  overflow: hidden;
  position: absolute
}
.map-header label {
  float: left;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  margin: 0 5px 2px 0;
  background: rgba(0, 0, 0, 0.1);
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 3px;
  padding: 0 10px 0 20px;
  color: #000000;
  display: block;
  text-align: right
}
.map-header input+label {
  padding-left: 28px;
  background-image: url(/checkbox_unchecked.png);
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 14px 14px
}
.map-header input:checked+label,
.map-header input:checked+label,
.map-header input:checked+label {
  background-image: url(/checkbox_checked.png);
  background-color: rgba(153, 53, 46, 0.95);
  color: #ffffff
}
.visitors .article {
  color: #999
}
.visitors .article.shoe h2 {
  font-size: 36px;
  margin-bottom: 5px
}
.visitors .data,
.visitors .name {
  color: #333
}
.article.presentedby h3 {
  max-width: 200px;
  margin: 0 auto;
  font-size: 22px
}
.article.presentedby li {
  margin: 20px 0 0
}
.article.presentedby li img {
  margin: 0;
  width: auto
}
.front h1 {
  font-size: 42px;
  margin: 0 0 40px
}
fieldset {
  border: solid 3px #99352e;
  margin: 16px 0;
  padding: 16px;
  font-size: 17px;
  border-radius: 5px
}
legend {
  font-size: 16px;
  padding: 0 8px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Roboto, sans-serif
}
fieldset label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Roboto, sans-serif
}
fieldset select {
  padding: 8px;
  margin-bottom: 16px
}
fieldset input[type="text"],
fieldset input[type="number"] {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 8px;
  border: solid 2px #ccc
}
button[type=submit] {
  width: 100%;
  border: none;
  margin-top: -21px
}
.help-block {
  display: block;
  box-sizing: border-box;
  background: #ddd;
  width: 100%;
  margin-top: -9px;
  padding: 4px 8px;
  margin-bottom: 9px
}
.help-block:empty {
  display: none
}
.message.success {
  padding: 16px;
  font-size: 17px;
  margin: 16px 0 32px;
  border: solid 3px #00975a;
  background: #97ffd5
}
.message.success ul {
  padding-top: 8px;
  padding-left: 16px
}
.message.success li {
  list-style: disc;
  line-height: 32px;
  padding-left: 0
}
@media (max-width: 1380px) {
  .hide-mobile {
    display: none
  }
  .show-mobile {
    display: block
  }
}
@media (max-width: 1300px) {
  .front .right {
    width: 100%;
    position: static;
    margin-top: 100px;
    padding-bottom: 0;
    max-height: 450px
  }
  .front .left {
    width: 100%;
    padding: 0
  }
  .front .left .container {
    padding-top: 0;
    margin-top: -100px
  }
  .left .page-row .inner {
    max-width: 800px;
    margin: 0 auto
  }
  .front h1 {
    font-size: 42px;
    margin: -45px 0 30px
  }
}
@media (min-width: 1100px) {
  .image div {
    padding: 0 !important;
    height: 100% !important;
  }
}
@media (max-width: 1100px) {
  .right {
    width: 100%;
    position: static;
    height: auto;
    margin-top: 100px;
    padding-bottom: 0;
    max-height: 450px
  }
  #map_canvas {
    height: 0;
    padding-bottom: 70%
  }
  .fullscreen .right {
    overflow: visible
  }
  .fullscreen .container {
    position: relative
  }
  .fullscreen #map_canvas {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 9
  }
  .fullscreen .map-header .close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px
  }
  .fullscreen .map-header .close:hover {
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50)
  }
  .map-header {
    display: none
  }
  .fullscreen .map-header {
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: white;
    z-index: 10;
    box-sizing: border-box;
    padding: 10px
  }
  .fullscreen .map-header h3 {
    display: block;
    float: none;
    text-align: left;
    margin-left: 3px;
    margin-top: 10px
  }
  .map-header label {
    margin: 3px
  }
  .bg-align-bottom .image {
    background-position: center -100px
  }
  .frame .right {
    display: none
  }
  .left,
  .reverse .left {
    width: 100%;
    padding: 0
  }
  .left .container {
    padding-top: 40px
  }
  .front .left .container {
    padding-top: 0;
    margin-top: -100px
  }
  .left .page-row .inner {
    max-width: 800px;
    margin: 0 auto
  }
  .main,
  .main .container,
  .main .container .left {
    height: auto
  }
  .frame .main,
  .frame .main .container,
  .frame .main .container .left {
    height: 100%
  }
  .desktop footer.red,
  .mobile footer.red {
    overflow: hidden;
    margin: 0 -40px
  }
  footer .inner {
    margin: 0 -999px
  }
}
@media (max-width: 800px) {
  .bg-align-bottom .image {
    background-position: center center
  }
  .front h1 {
    font-size: 36px
  }
}
@media (max-width: 640px) {
  header,
  .left .container {
    padding-left: 20px;
    padding-right: 20px
  }
  footer .red {
    margin: 0 -20px
  }
  .front h1 {
    margin: 0 0 20px
  }
  .nav-button {
    right: 10px
  }
  .mobile .articles article {
    width: 100%;
    float: none
  }
  .mobile .articles article .article {
    min-height: initial !important
  }
  .mobile .front .logo {
    margin-bottom: 40px
  }
  .show-mobile {
    display: block
  }
  .hide-mobile {
    display: none
  }
  .desktop footer.red,
  .mobile footer.red {
    margin: 0 -20px
  }
  .mobile .cols {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1
  }
}
@media (max-width: 520px) {
  .front h1,
  h1 {
    font-size: 28px;
    margin-bottom: 5px
  }
  .mobile .front .logo {
    margin-bottom: 40px
  }
  h2 {
    font-size: 18px
  }
  .article h2 {
    font-size: 28px
  }
  .mobile .countdown-caption {
    font-size: 17px
  }
  .mobile .countdown-value {
    font-size: 58px;
    height: 60px;
    line-height: 60px
  }
  .hide-thin {
    display: none
  }
  .mobile .table th,
  .mobile .table td {
    padding: 5px 5px 5px 8px
  }
  footer.sponsors {
    margin-top: 0
  }
  .front h1 {
    margin: 0 0 30px
  }
}
@media (max-width: 400px) {
  .nav-button p {
    display: none
  }
  .front .left .container {
    margin-top: -80px
  }
  .mobile .front .logo {
    margin-bottom: 10px
  }
  header a.site-logo {
    padding-top: 11px !important;
    padding-bottom: 5px !important
  }
  header .logo img {
    height: 34px
  }
  header {
    height: 50px;
    line-height: 50px
  }
  .reponsive-size-adjust {
    height: 50px
  }
  .front .right,
  .right {
    margin-top: 50px
  }
  .nav-button {
    top: 0;
    padding-top: 4px;
    padding-bottom: 4px
  }
}
@media (max-width: 320px) {
  .mobile .table {
    margin-left: -9px
  }
  .mobile .table th,
  .mobile .table td {
    padding: 5px
  }
}
